<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="/CSS/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <h1>E-Store</h1>

    <div class="d-flex flex-wrap gap-4">
    <% for (let listing of listings) { %>
    
        <div class="card my-card">
            <img src="<%= listing.image %>" class="card-img-top fixed-img">
            <hr class="divider">
            <div class="card-body">
                <h5 class="card-title"><%= listing.title %></h5>
                <a href="/show/<%=listing._id%>" class="btn btn-primary">Details</a>
            </div>
        </div>

    <% } %>
    </div>

</body>
</html>
